.DS_Store
/.build
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.netrc

# We ignore the complete .swiftpm directory for now, since Xcode shows schemes from dependencies.
# See discussion in https://github.com/sersoft-gmbh/xmlwrangler#122 for more details.
.swiftpm/
