.DS_Store
/.build
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.netrc

# We ignore the complete .swiftpm directory for now, since Xcode shows schemes from dependencies.
# See discussion in sersoft-gmbh/xmlwranger#122 for more details.
.swiftpm/
